// Colors
$gray: rgba(100, 100, 100, 1);
$white: rgb(255, 255, 255);

// breakpoints

@mixin full($pad: 0) {
  position: absolute;
  top: $pad;
  left: $pad;
  right: $pad;
  bottom: $pad;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fade($duration: .5s, $delay: 0) {
  transition: opacity $duration, visibility $duration;
  transition-delay: $delay+s;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.app {
  @include full;
  overflow: hidden;

  .graph, .draw {
    @include full(2rem);

    canvas {
      display: none;
      @include full;
    }
  }
  .graph2 {
    @include full(2rem);
    canvas {
      transform: scale(.5);
      transform-origin: top left;
    }
  }
}

p, h1, h2, {
  margin: 0;
}

button {

}

input, textarea, select {
  font-family: 'Roboto', sans-serif;
  padding: .5rem;
  margin: .25rem;
  border: 1px solid gray;
  border-radius: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.disabled {
  pointer-events: none;
  user-select: none;
}

.error {
  border: 1px solid red;
}

.no-pointer-events {
  // TODO: try to remomve important;
  pointer-events: none !important;
}

.no-animation {
  transition-duration: 0s !important;
}

.no-break {
  white-space: nowrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
